/* Encabezado */
header {
  background: #004080;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* logo a la izquierda, resto a la derecha */
}

header .logo img {
  height: 140px;   /* aumentá según lo que quieras */
  width: auto;
}

.header-content {
  flex: 1;
  text-align: center;
}

.header-content h1,
.header-content p {
  margin: 5px 0;
}

/* Navegación dentro del header */
header nav {
  margin-top: 10px;
}

header nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}
